services:
    - type: web
      name: backend-ipte
      env: node
      region: singapore
      plan: free
      buildCommand: |
          npm ci --include=dev
          npx prisma db pull
          npx prisma generate
          npx prisma migrate deploy
          npm run build
      startCommand: "npm run start"
      envVars:
          - key: DATABASE_URL
            fromDatabase:
                name: postgres-ipte
                property: connectionString
          - key: NODE_ENV
            value: production
          - key: JWT_ACCESS_SECRET
            sync: false
          - key: JWT_REFRESH_SECRET
            sync: false
          - key: JWT_ACCESS_EXPIRES
            value: "9000"
          - key: JWT_REFRESH_EXPIRES
            value: "2592000"

databases:
    - name: postgres-ipte
      databaseName: ipte
      plan: free
      region: singapore
