services:
    db-postgres:
        image: postgres:15
        environment:
            POSTGRES_USER: ipte_admin_db
            POSTGRES_PASSWORD: ipte_admin_db@123
            POSTGRES_DB: ipte
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ipte_admin_db -d ipte"]
            interval: 5s
            timeout: 3s
            retries: 10
volumes:
    postgres_data:
