services:
    db-postgres:
        image: postgres:15
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: ipte
            TZ: Asia/Ho_Chi_Minh
        command: ["postgres", "-c", "timezone=Asia/Ho_Chi_Minh"]
        ports:
            - "5432:5432"
        volumes:
            - db-data:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres -d ipte"]
            interval: 5s
            timeout: 3s
            retries: 10
volumes:
    db-data:
        name: db-postgres-data
        driver: local
